/* styles.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color:#026f7ed2;
    padding: 15px 0;
}

.navbarBrand {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containernav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.containernav li {
    margin-right: 20px;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navLink:hover {
    text-decoration: underline;
}

.masthead {
    padding: 100px 0;
    background-image: url('https://img.freepik.com/vector-premium/ilustracion-vector-fondo-azul-abstrack-escritorio_354831-216.jpg?w=826');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.mastheadAvatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
}

.mastheadHeading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.dividerCustom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.dividerCustomLine {
    flex-grow: 3;
    height: 1px;
    background-color: rgb(44, 44, 42);
}

.dividerCustomIcon {
    margin: 0 20px;
    color: rgb(44, 44, 42);
}

.mastheadHeading {
    text-align: center;
    color: rgb(44, 44, 42);
}

.titleprofession {
    text-align: center;
    font-size: 20px;
    color: rgb(44, 44, 42);
}

.pageSection {
    padding: 80px 0;
}

.pageSectionHeading {
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
}

.containerimgfluid {
    display: flex;
    justify-content: center;
}


.imgfluid {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
    padding: 20px;

}

.projectCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #bce1f1;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    max-width: 300px;
}

.about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}

.rowfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titlelocation {
    font-size: 30px;
    margin-left: 200px;
}

.plocation {
    margin-left: 200px;
    font-size: 20px;
}

.titlecontact {
    font-size: 30px;
    margin-right: 200px;
}

.iconscontact {
    margin-right: 200px;
}

.btnSocial {
    width: 300px;
    height: 300px;
    padding: 20px;
}


a.btnSocial:hover {
    color: #007bff;
}

.footer {
    padding: 10px 0;
    background-color: #026f7ed2;
    color: #fff;
    text-align: center;
}

.footerHeading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footerBottom {
    background-color: #3c3c3f;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

.btnSocial {
    margin-right: 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}