.containerimgfluid {
    display: flex;
    justify-content: center;
}

.pageSectionHeading {
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
    color: rgb(245, 245, 240);
}

.pageSection {
    padding: 80px 0;
}

.imgfluid {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 20%;
}

.projectCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d1e0;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    max-width: 300px;
}

.projectCard:hover {
    background-color: #f0b8cd;

}

.buttonlink {
    position: absolute;
    padding: 20px;
    border: none;
    border-radius: 30px;
    background-color: rgb(156, 245, 245);
    cursor: pointer;
    right: 20px; 
}