.contact {
  color: #fff;
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  padding: 7rem 0;
  background-color: rgb(30, 5, 75);
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.textBlock {
  flex: 1;
  min-width: 280px;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #ddd;
}

.email {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: underline;
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #a64bf4;
}

.imageBlock {
  flex: 1;
  display: flex;
  justify-content: center;
}

.avatar:hover {
  transform: translateY(-10px) scale(1.02);
}

/* Media Queries */

@media (max-height: 1240px) {
  .contact {
    height: 100vh;
  }
}

@media (max-height: 768px) {
  .contact {
    height: 130vh;
  }
}