.masthead {
    padding: 100px 0;
    background-image: url('https://img.freepik.com/fotos-premium/nina-que-trabaja-computadora-portatil-representacion-3d-estilo-dibujos-animados_772449-12244.jpg?w=826');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.mastheadHeading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.titleprofession {
    text-align: center;
    font-size: 20px;
    color: rgb(44, 44, 42);
}