.masthead {
    padding: 100px 0;
    background-image: url('https://img.freepik.com/vector-premium/fondo-dinamico-creativo-colorido-moderno-abstracto-bandera-resumenes-coloridos-degradados-vivos-moda-papel-tapiz-diseno-futurista-pancarta-poster-portada-volante-presentacion-pagina-destino_181182-16655.jpg?w=996');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.mastheadHeading {
    max-width: 800px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    padding-bottom: 3.6rem;
    color: rgba(255, 255, 255, 0.5);
}


.titleprofession {
    max-width: 800px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    padding-bottom: 3.6rem;
    color: rgba(255, 255, 255, 0.5);
}

.containerheading{
    text-align: center;
    margin-left: 30px;
    height: 100%;
    width: 100%;
}