.container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(21 0 59);
}

.pageSectionHeadingSkills {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgb(245, 245, 240);
    margin-bottom: 40px;
}

.categorySelector {
    display: flex;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skillImage {
    width: 90px;
    height: auto;
}

.skillInfo {
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.colMd4 {
    padding: 15px;
    box-sizing: border-box;
}

.categoryButton {
    background: #944cbdc4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.categoryButton:hover {
    background: #7640968f;
}

.categoryButton.active {
    background: #7640968f;
}

.card {
    box-shadow: 0 4px 8px rgba(95, 51, 121, 0.562);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.cardBody {
    padding: 10px;
    display: flex;
    align-items: center;

}

.cardTitle {
    color: rgb(245, 245, 240);
    margin-top: 1rem;
}

.cardText {
    color: rgb(245, 245, 240);
}

/* Media Queries */

@media (max-width: 768px) {

    .pageSectionHeadingSkills {
        margin-top: 400px;
    }

    .categorySelector {
        flex-direction: column;
        align-items: center;
    }

    .categoryButton {
        margin-right: 0;
        margin-bottom: 10px;
    }


}

@media (max-height: 1240px) {
    .container {
        height: 100vh;
    }

    .colMd4 {
        width: 30%;
    }
}