.pageSection {
    padding: 80px 0;
}

.pageSectionHeading {
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
    color: rgb(245, 245, 240);

}

.boxabout {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
    color: rgb(245, 245, 240);
    padding: 50px;
}

@media (max-width: 768px) {

    .paragraph {
        margin-bottom: 90px;
    }

    .pageSection {
        padding: 40px 0;
    }

    .pageSectionHeading {
        font-size: 40px;
        margin-top: 60px;

    }

    .boxabout {
        max-width: 100%;
        padding: 20px;
    }
}