.rowfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titlelocation {
    font-size: 30px;
    margin-left: 200px;
}

.plocation {
    margin-left: 200px;
    font-size: 20px;
}

.titlecontact {
    font-size: 30px;
    margin-right: 200px;
}

.iconscontact {
    margin-right: 200px;
}

.btnSocial {
    width: 300px;
    height: 300px;
    padding: 20px;
}


a.btnSocial:hover {
    color: #007bff;
}

.footer {
    padding: 10px 0;
    background-color:rgb(15, 22, 36);
    color: #fff;
    text-align: center;
}

.footerHeading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footerBottom {
    background-color: #3c3c3f;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

.btnSocial {
    margin-right: 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.dividerCustom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.dividerCustomLine {
    flex-grow: 3;
    height: 1px;
    background-color: rgb(245, 245, 240);
}

.dividerCustomIcon {
    margin: 0 20px;
    color:  rgb(245, 245, 240);
}